* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
    background-color: #0b0014;
    color: #ffffff;
}

:root {
    --work: #0b0014;
    --shortBreak: #68a691;
    --longBreak: #2d5d7b;
}

progress {
    border-radius: 2px;
    width: 100%;
    height: 12px;
    position: fixed;
    top: 0;
}

progress::-webkit-progress-bar {
    background-color: rgba(0, 0, 0, 0.1);
    ;
}

progress::-webkit-progress-value {
    background-color: #fff;
}

.header {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    &__choose {
        div {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 30px;
            button {
                background-color: transparent;
                color: #ffffff;
                border: none;
                font-size: 1.5rem;
                cursor: pointer;
            }
        }
    }
}

.timer {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    &__clock {
        span {
            font-size: 10rem;
        }
    }
    &__btn {
        button {
            background-color: #ffffff;
            color: #0b0014;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
    }
}

.mode-btn.active {
    text-decoration: underline;
}